# **List of largest companies by revenue**
### **A web scraping project**

In [147]:
#Importing libraries and modules
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [148]:
#Obtaining the html data from the webpage whose url is provided
sauce = requests.get('https://en.wikipedia.org/wiki/List_of_largest_companies_by_revenue').text

In [149]:
#Creating a soup object
soup = BeautifulSoup(sauce,'lxml')

In [150]:
#Confirming the webpage
soup.title.text

'List of largest companies by revenue - Wikipedia'

In [151]:
#Finding all tables and the number of tables in the given website
tables = soup.find_all('tbody')
len(tables)

6

In [152]:
#Finding out the index of the table which has the string "Headquarters" in it
for index, table in enumerate(tables):
    if ('Headquarters' in str(table)):
        table_index = index
print(table_index)

0

In [169]:
#Obtaining the table rows of the required table
required_table_rows = tables[0].find_all('tr')
required_table_rows[0] # getting details of the column headers by calling for row ith zeroth index

<tr>
<th rowspan="2">Rank
</th>
<th rowspan="2">Name
</th>
<th rowspan="2">Industry
</th>
<th>Revenue
</th>
<th>Profit
</th>
<th rowspan="2">Employees
</th>
<th rowspan="2">Headquarters<sup class="reference" id="cite_ref-4"><a href="#cite_note-4">[note 1]</a></sup>
</th>
<th class="unsortable" rowspan="2" scope="col">Ref
</th></tr>

In [154]:
#creating an empty DataFrame
largest_companies = pd.DataFrame(columns = [ 'Name','Industry', 'Revenue','Profit', 'Employee_count','Headquarters'])


#Appending the empty dataframe with data from the required table
for row in required_table_rows:
    col =row.find_all('td')
    if (col !=[]):
        name =col[0].text.strip()
        industry=col[1].text.strip()
        reven=col[2].text.strip()
        profit=col[3].text.strip()
        emp=col[4].text.strip()
        hq=col[5].text.strip()
        largest_companies =largest_companies.append({'Name':name,'Industry':industry, 'Revenue':reven,'Profit':profit, 'Employee_count':emp,'Headquarters':hq}, ignore_index=True)
        
largest_companies

,Name,Industry,Revenue,Profit,Employee_count,Headquarters
0,Walmart,Retail,"$559,200","$19,742","2,300,000",United States
1,Sinopec Group,Oil and gas,"$407,009","$6,793","582,648",China
2,Amazon,"Retail, Information Technology","$386,064","$17,377","1,298,000",United States
3,State Grid,Electricity,"$383,906","$7,970","907,677",China
4,China National Petroleum,Oil and gas,"$379,130","$4,433","1,344,410",China
5,Royal Dutch Shell,Oil and gas,"$344,379","$15,842","83,000",Netherlands United Kingdom
6,Saudi Aramco,Oil and gas,"$329,784","$88,211","79,000",Saudi Arabia
7,Volkswagen,Automotive,"$282,760","$15,542","671,205",Germany
8,BP,Oil and gas,"$282,610","$4,026","72,500",United Kingdom
9,Toyota,Automotive,"$275,288","$19,096","359,542",Japan
10,Apple,Electronics,"$274,515","$55,256","147,000",United States
11,ExxonMobil,Oil and gas,"$264,938","$14,340","74,900",United States
12,CVS Health,Healthcare,"$256,776","$6,634","290,000",United States
13,Berkshire Hathaway,Financials,"$254,616","$81,417","391,500",United States
14,UnitedHealth,Healthcare,"$242,155","$13,839","325,000",United States
15,McKesson,Healthcare,"$231,051",$900,"70,000",United States
16,Glencore,Commodities,"$215,111",-$404,"88,246",Switzerland
17,China State Construction,Construction,"$205,839","$3,333","335,038",China
18,Samsung Electronics,Electronics,"$197,705","$18,453","287,439",South Korea
19,Daimler,Automotive,"$193,346","$2,661","298,655",Germany
20,Ping An Insurance,Financials,"$184,280","$21,627","372,194",China
21,Alphabet,Information technology,"$182,530","$34,343","135,301",United States
22,AT&T,Telecommunications,"$181,193","$13,903","247,800",United States
23,AmerisourceBergen,Healthcare,"$179,589",$855,"21,500",United States
24,ICBC,Financials,"$177,069","$45,194","445,106",China
25,Total,Oil and gas,"$176,249","$11,267","107,776",France
26,Foxconn,Electronics,"$172,869","$3,731","754,404",Taiwan
27,Trafigura,Commodities,"$171,474",$872,"5,106",Singapore
28,Exor,Holding company,"$162,754","$3,417","268,979",Netherlands
29,China Construction Bank,Financials,"$158,884","$38,610","370,169",China
30,Ford,Automotive,"$155,900",$47,"190,000",United States
31,Cigna,Healthcare,"$153,566","$5,104","73,700",United States
32,Costco,Retail,"$152,703","$3,659","201,500",United States
33,AXA,Financials,"$148,984","$4,317","99,843",France
34,Agricultural Bank of China,Financials,"$147,313","$30,701","467,631",China
35,Chevron,Oil and gas,"$146,516","$2,924","48,200",United States
36,Cardinal Health,Healthcare,"$145,534","$1,363","49,500",United States
37,Microsoft,Information technology,"$143,000","$39,420","144,000",United States
38,JPMorgan Chase,Financials,"$142,422","$36,431","256,981",United States
39,Honda,Automotive,"$137,332","$4,192","218,674",Japan
40,General Motors,Automotive,"$137,237","$6,732","164,000",United States
41,Walgreens Boots Alliance,Retail,"$136,866","$3,982","287,000",United States
42,Mitsubishi,Conglomerate,"$135,940","$4,924","86,098",Japan
43,Bank of China,Financials,"$135,091","$27,127","309,384",China
44,Verizon,Telecommunications,"$131,244","$19,265","135,000",United States
45,China Life Insurance,Insurance,"$131,244","$4,660","180,401",China
46,Allianz,Financials,"$130,359","$8,858","147,268",Germany
47,Marathon Petroleum,Oil and gas,"$124,813","$2,637","60,910",United States
48,Huawei,Electronics,"$124,316","$9,062","194,000",China
49,China Railway Engineering Corporation,Construction,"$123,324","$1,535","302,394",China

### **Removing '$' sign and comma from numeric columns**

In [155]:
largest_companies['Revenue'] = largest_companies['Revenue'].str.strip('$').str.replace(',','')

In [156]:
largest_companies['Profit'] = largest_companies['Profit'].str.strip('$').str.replace(',','')


# profit column has an entry with negative value (index 16) and hence has to replace only the $ sign without removing negative sign
largest_companies['Profit']= largest_companies['Profit'].str.replace('$','')

In [157]:
largest_companies['Employee_count']= largest_companies['Employee_count'].str.replace(',','')

In [158]:
largest_companies

,Name,Industry,Revenue,Profit,Employee_count,Headquarters
0,Walmart,Retail,559200,19742,2300000,United States
1,Sinopec Group,Oil and gas,407009,6793,582648,China
2,Amazon,"Retail, Information Technology",386064,17377,1298000,United States
3,State Grid,Electricity,383906,7970,907677,China
4,China National Petroleum,Oil and gas,379130,4433,1344410,China
5,Royal Dutch Shell,Oil and gas,344379,15842,83000,Netherlands United Kingdom
6,Saudi Aramco,Oil and gas,329784,88211,79000,Saudi Arabia
7,Volkswagen,Automotive,282760,15542,671205,Germany
8,BP,Oil and gas,282610,4026,72500,United Kingdom
9,Toyota,Automotive,275288,19096,359542,Japan
10,Apple,Electronics,274515,55256,147000,United States
11,ExxonMobil,Oil and gas,264938,14340,74900,United States
12,CVS Health,Healthcare,256776,6634,290000,United States
13,Berkshire Hathaway,Financials,254616,81417,391500,United States
14,UnitedHealth,Healthcare,242155,13839,325000,United States
15,McKesson,Healthcare,231051,900,70000,United States
16,Glencore,Commodities,215111,-404,88246,Switzerland
17,China State Construction,Construction,205839,3333,335038,China
18,Samsung Electronics,Electronics,197705,18453,287439,South Korea
19,Daimler,Automotive,193346,2661,298655,Germany
20,Ping An Insurance,Financials,184280,21627,372194,China
21,Alphabet,Information technology,182530,34343,135301,United States
22,AT&T,Telecommunications,181193,13903,247800,United States
23,AmerisourceBergen,Healthcare,179589,855,21500,United States
24,ICBC,Financials,177069,45194,445106,China
25,Total,Oil and gas,176249,11267,107776,France
26,Foxconn,Electronics,172869,3731,754404,Taiwan
27,Trafigura,Commodities,171474,872,5106,Singapore
28,Exor,Holding company,162754,3417,268979,Netherlands
29,China Construction Bank,Financials,158884,38610,370169,China
30,Ford,Automotive,155900,47,190000,United States
31,Cigna,Healthcare,153566,5104,73700,United States
32,Costco,Retail,152703,3659,201500,United States
33,AXA,Financials,148984,4317,99843,France
34,Agricultural Bank of China,Financials,147313,30701,467631,China
35,Chevron,Oil and gas,146516,2924,48200,United States
36,Cardinal Health,Healthcare,145534,1363,49500,United States
37,Microsoft,Information technology,143000,39420,144000,United States
38,JPMorgan Chase,Financials,142422,36431,256981,United States
39,Honda,Automotive,137332,4192,218674,Japan
40,General Motors,Automotive,137237,6732,164000,United States
41,Walgreens Boots Alliance,Retail,136866,3982,287000,United States
42,Mitsubishi,Conglomerate,135940,4924,86098,Japan
43,Bank of China,Financials,135091,27127,309384,China
44,Verizon,Telecommunications,131244,19265,135000,United States
45,China Life Insurance,Insurance,131244,4660,180401,China
46,Allianz,Financials,130359,8858,147268,Germany
47,Marathon Petroleum,Oil and gas,124813,2637,60910,United States
48,Huawei,Electronics,124316,9062,194000,China
49,China Railway Engineering Corporation,Construction,123324,1535,302394,China

### **Converting datatypes**

In [159]:
largest_companies.dtypes

Name              object
Industry          object
Revenue           object
Profit            object
Employee_count    object
Headquarters      object
dtype: object

In [160]:
largest_companies['Revenue']= pd.to_numeric(largest_companies['Revenue'])
largest_companies['Profit']= pd.to_numeric(largest_companies['Profit'])
largest_companies['Employee_count']= pd.to_numeric(largest_companies['Employee_count'])

In [161]:
largest_companies.dtypes

Name              object
Industry          object
Revenue            int64
Profit             int64
Employee_count     int64
Headquarters      object
dtype: object

In [163]:
largest_companies

,Name,Industry,Revenue,Profit,Employee_count,Headquarters
0,Walmart,Retail,559200,19742,2300000,United States
1,Sinopec Group,Oil and gas,407009,6793,582648,China
2,Amazon,"Retail, Information Technology",386064,17377,1298000,United States
3,State Grid,Electricity,383906,7970,907677,China
4,China National Petroleum,Oil and gas,379130,4433,1344410,China
5,Royal Dutch Shell,Oil and gas,344379,15842,83000,Netherlands United Kingdom
6,Saudi Aramco,Oil and gas,329784,88211,79000,Saudi Arabia
7,Volkswagen,Automotive,282760,15542,671205,Germany
8,BP,Oil and gas,282610,4026,72500,United Kingdom
9,Toyota,Automotive,275288,19096,359542,Japan
10,Apple,Electronics,274515,55256,147000,United States
11,ExxonMobil,Oil and gas,264938,14340,74900,United States
12,CVS Health,Healthcare,256776,6634,290000,United States
13,Berkshire Hathaway,Financials,254616,81417,391500,United States
14,UnitedHealth,Healthcare,242155,13839,325000,United States
15,McKesson,Healthcare,231051,900,70000,United States
16,Glencore,Commodities,215111,-404,88246,Switzerland
17,China State Construction,Construction,205839,3333,335038,China
18,Samsung Electronics,Electronics,197705,18453,287439,South Korea
19,Daimler,Automotive,193346,2661,298655,Germany
20,Ping An Insurance,Financials,184280,21627,372194,China
21,Alphabet,Information technology,182530,34343,135301,United States
22,AT&T,Telecommunications,181193,13903,247800,United States
23,AmerisourceBergen,Healthcare,179589,855,21500,United States
24,ICBC,Financials,177069,45194,445106,China
25,Total,Oil and gas,176249,11267,107776,France
26,Foxconn,Electronics,172869,3731,754404,Taiwan
27,Trafigura,Commodities,171474,872,5106,Singapore
28,Exor,Holding company,162754,3417,268979,Netherlands
29,China Construction Bank,Financials,158884,38610,370169,China
30,Ford,Automotive,155900,47,190000,United States
31,Cigna,Healthcare,153566,5104,73700,United States
32,Costco,Retail,152703,3659,201500,United States
33,AXA,Financials,148984,4317,99843,France
34,Agricultural Bank of China,Financials,147313,30701,467631,China
35,Chevron,Oil and gas,146516,2924,48200,United States
36,Cardinal Health,Healthcare,145534,1363,49500,United States
37,Microsoft,Information technology,143000,39420,144000,United States
38,JPMorgan Chase,Financials,142422,36431,256981,United States
39,Honda,Automotive,137332,4192,218674,Japan
40,General Motors,Automotive,137237,6732,164000,United States
41,Walgreens Boots Alliance,Retail,136866,3982,287000,United States
42,Mitsubishi,Conglomerate,135940,4924,86098,Japan
43,Bank of China,Financials,135091,27127,309384,China
44,Verizon,Telecommunications,131244,19265,135000,United States
45,China Life Insurance,Insurance,131244,4660,180401,China
46,Allianz,Financials,130359,8858,147268,Germany
47,Marathon Petroleum,Oil and gas,124813,2637,60910,United States
48,Huawei,Electronics,124316,9062,194000,China
49,China Railway Engineering Corporation,Construction,123324,1535,302394,China

### **Saving the DataFrame into a csv file**

In [167]:
largest_companies.to_csv('largest_companies_by_revenue.csv',index=False)

In [168]:
#Confirming the csv file has been properly created
pd.read_csv('largest_companies_by_revenue.csv')

,Name,Industry,Revenue,Profit,Employee_count,Headquarters
0,Walmart,Retail,559200,19742,2300000,United States
1,Sinopec Group,Oil and gas,407009,6793,582648,China
2,Amazon,"Retail, Information Technology",386064,17377,1298000,United States
3,State Grid,Electricity,383906,7970,907677,China
4,China National Petroleum,Oil and gas,379130,4433,1344410,China
5,Royal Dutch Shell,Oil and gas,344379,15842,83000,Netherlands United Kingdom
6,Saudi Aramco,Oil and gas,329784,88211,79000,Saudi Arabia
7,Volkswagen,Automotive,282760,15542,671205,Germany
8,BP,Oil and gas,282610,4026,72500,United Kingdom
9,Toyota,Automotive,275288,19096,359542,Japan
10,Apple,Electronics,274515,55256,147000,United States
11,ExxonMobil,Oil and gas,264938,14340,74900,United States
12,CVS Health,Healthcare,256776,6634,290000,United States
13,Berkshire Hathaway,Financials,254616,81417,391500,United States
14,UnitedHealth,Healthcare,242155,13839,325000,United States
15,McKesson,Healthcare,231051,900,70000,United States
16,Glencore,Commodities,215111,-404,88246,Switzerland
17,China State Construction,Construction,205839,3333,335038,China
18,Samsung Electronics,Electronics,197705,18453,287439,South Korea
19,Daimler,Automotive,193346,2661,298655,Germany
20,Ping An Insurance,Financials,184280,21627,372194,China
21,Alphabet,Information technology,182530,34343,135301,United States
22,AT&T,Telecommunications,181193,13903,247800,United States
23,AmerisourceBergen,Healthcare,179589,855,21500,United States
24,ICBC,Financials,177069,45194,445106,China
25,Total,Oil and gas,176249,11267,107776,France
26,Foxconn,Electronics,172869,3731,754404,Taiwan
27,Trafigura,Commodities,171474,872,5106,Singapore
28,Exor,Holding company,162754,3417,268979,Netherlands
29,China Construction Bank,Financials,158884,38610,370169,China
30,Ford,Automotive,155900,47,190000,United States
31,Cigna,Healthcare,153566,5104,73700,United States
32,Costco,Retail,152703,3659,201500,United States
33,AXA,Financials,148984,4317,99843,France
34,Agricultural Bank of China,Financials,147313,30701,467631,China
35,Chevron,Oil and gas,146516,2924,48200,United States
36,Cardinal Health,Healthcare,145534,1363,49500,United States
37,Microsoft,Information technology,143000,39420,144000,United States
38,JPMorgan Chase,Financials,142422,36431,256981,United States
39,Honda,Automotive,137332,4192,218674,Japan
40,General Motors,Automotive,137237,6732,164000,United States
41,Walgreens Boots Alliance,Retail,136866,3982,287000,United States
42,Mitsubishi,Conglomerate,135940,4924,86098,Japan
43,Bank of China,Financials,135091,27127,309384,China
44,Verizon,Telecommunications,131244,19265,135000,United States
45,China Life Insurance,Insurance,131244,4660,180401,China
46,Allianz,Financials,130359,8858,147268,Germany
47,Marathon Petroleum,Oil and gas,124813,2637,60910,United States
48,Huawei,Electronics,124316,9062,194000,China
49,China Railway Engineering Corporation,Construction,123324,1535,302394,China